@import '../../style/mediaQuery';

.cards-wrap {
  display: block;
  max-width: 1440px;
  margin: 0 auto;
  .img-wrap {
    max-width: 500px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  .cards {
    display: flex;
    flex-flow: row wrap;
    padding: 20px 0px 30px 30px;
  }
}

@include mobile {
  .cards-wrap {
    .img-wrap {
      max-width: 300px;
    }
  }
}
@include tablet {
  .cards-wrap {
    .img-wrap {
      max-width: 400px;
    }
  }
}
