@import '../../style/variables';
@import '../../style/mixin';
@import '../../style/mediaQuery';

.main {
  .select-wrap {
    max-width: 1440px;
    margin: 0 auto;
    @include Flex(space-between, flex-end);
    margin-top: 50px;
  }
}
.cards-wrap {
  display: block;
  max-width: 1440px;
  margin: 0 auto;
  h2 {
    font-size: 3.5rem;
    color: $primary-color;
  }
  .img-wrap {
    max-width: 500px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  .cards {
    display: flex;
    flex-flow: row wrap;
    padding: 20px 0px 30px 30px;
    min-height: 500px;
  }
}

@include mobile {
  .cards-wrap {
    .img-wrap {
      max-width: 300px;
    }
  }
}
@include tablet {
  .cards-wrap {
    .img-wrap {
      max-width: 400px;
    }
  }
}
