@import '../../style/mediaQuery';
@import '../../style/variables';
@import '../../style/mixin';

* {
  box-sizing: border-box;
}

@mixin font-title {
  font-size: 3.5rem;
  color: $font-primary-color;
}

// profile template(profile-section, logout-section) 내 공통 적용 요소
.profile {
  section {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  margin: 0 auto;

  .title {
    font-size: 3.5rem;
    font-weight: 500;
    outline: none;
  }

  span {
    font-size: 1.5rem;
  }

  #profile-edit {
    margin-bottom: 3rem;
  }

  .form-div {
    margin-bottom: 5.5rem;
  }

  .profile-btn {
    @include text-button;
    padding: 2rem;
    width: 180px;
  }
}

.logout-section {
  .logout-div,
  .deact-div {
    width: 100%;
    // height: 200px;
    display: flex;
    justify-content: space-between;
  }

  @include font-title;
  border-top: 2px solid #b4b4b5;
  display: flex;
  justify-content: center;
  width: 1380px;
  height: 100%;

  .logout-title-div,
  .deact-title-div {
    padding-top: 2rem;

    span {
      display: block;
      margin-top: 2rem;
    }
  }
  .profile-btn {
    @include text-button;
    padding: 2rem;
    width: 180px;
  }
}

@include mobile {
  .profile {
    .profile-section,
    .logout-section {
      display: block;
      padding: 0 30px;

      .logout-div,
      .deact-div {
        display: block;
      }
      .logout-div {
        margin-bottom: 5rem;
      }
    }
  }

  .profile,
  .profile-section,
  .logout-section {
    width: 100%;
  }

  .profile-btn {
    margin-top: 2rem;
  }
}

@include tablet {
  .profile {
    .profile-section,
    .logout-section {
      padding: 0 30px;
    }
  }
  .profile-section,
  .logout-section {
    width: 100%;
  }
}

@include desktop {
  .profile-section,
  .logout-section {
    width: 1024px;
    margin: 0 auto;
  }
}
