@import '../../style/mixin';
@import '../../style/mediaQuery';
@import '../../style/variables';
@import '../../style/common.scss';

.sub-nav-section {
  width: 500px;
  display: flex;
  margin: 0 auto;
  div {
    @include font-normal;
    border: 1px solid orangered;
    width: 100%;
    height: 100px;
    // margin-right: 10px;
  }
}
