@import '../../../style/variables';
@import '../../../style/mixin';

.header-login-button {
  @include font-normal;
  color: $font-tertiary-color;
  background-color: transparent;
  padding: 1rem;

  &:hover {
    color: #c7c7c7;
  }
}
