.create-event-wrap {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  background: #f2f3f6;
  margin-top: 60px;
  width: 100%;
  min-height: 100vh;
}

.create-event-wrap * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.create-event-wrap .w1440-container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

.create-event-wrap .te-preview {
  background: #fff;
}

.create-event-wrap .create-event-form {
  padding: 7.3rem 0;
}

.create-event-wrap .create-event-form h1 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #454b58;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 4rem;
}

.create-event-wrap .create-event-form form {
  overflow: hidden;
}

.create-event-wrap .create-event-form form .custom-file-label {
  position: relative;
  width: 68rem;
  height: 45.53rem;
  background: #c4c4c4;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.create-event-wrap .create-event-form form .custom-file-label.active::before, .create-event-wrap .create-event-form form .custom-file-label.active::after {
  all: unset;
}

.create-event-wrap .create-event-form form .custom-file-label::before {
  content: '';
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  margin: auto;
  background: url("../img/camera.svg") no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 3;
}

.create-event-wrap .create-event-form form .custom-file-label::after {
  content: '';
  position: absolute;
  width: 6.5rem;
  height: 6.5rem;
  background: #fff;
  border-radius: 50%;
  z-index: 2;
}

.create-event-wrap .create-event-form form .custom-file-input {
  position: absolute;
  visibility: hidden;
}

.create-event-wrap .create-event-form form .custom-thumbnail {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 4;
}

.create-event-wrap .create-event-form form .upload-type {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #717174;
  font-size: 1.5rem;
  line-height: 20px;
  margin-top: 1.567rem;
}

.create-event-wrap .create-event-form form .eventform-title {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #454b58;
  font-size: 2.4rem;
  font-weight: normal;
  margin-bottom: 2.8rem;
  margin-top: 5.5rem;
}

.create-event-wrap .create-event-form form .create-event-submit {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.create-event-wrap .create-event-form form .create-event-submit button {
  all: unset;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 10rem;
  width: 18rem;
  height: 6.5rem;
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid #3465ef;
  border-radius: 50px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: #3465ef;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.create-event-wrap .create-event-form form .create-event-submit button:hover {
  color: #fff;
  background: #3465ef;
}

.create-event-wrap .create-event-form form .event-sec {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.create-event-wrap .create-event-form form .event-sec .event-content {
  width: 50rem;
  margin-bottom: 5.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #717174;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.create-event-wrap .create-event-form form .event-sec .input-box {
  position: relative;
  width: 68rem;
}

.create-event-wrap .create-event-form form .event-sec .input-box .err-text {
  position: absolute;
  top: -24px;
  left: 4px;
  color: #e41818;
  font-size: 1.3rem;
}

.create-event-wrap .create-event-form form .event-sec .input-box .yes {
  display: none;
}

.create-event-wrap .create-event-form form .event-sec .input-box .not {
  display: block;
}

.create-event-wrap .create-event-form form .event-sec .input-box.active .yes {
  display: block;
}

.create-event-wrap .create-event-form form .event-sec .input-box.active .not {
  display: none;
}

.create-event-wrap .create-event-form form .event-sec .input-box.label-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.create-event-wrap .create-event-form form .event-sec .input-box.label-box input:checked + label {
  border-color: #3465ef;
}

.create-event-wrap .create-event-form form .event-sec .input-box.label-box input:checked + label::before {
  content: '';
  position: absolute;
  bottom: 1.08rem;
  right: 1px;
  width: 80%;
  height: 0.2rem;
  background: #3465ef;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.create-event-wrap .create-event-form form .event-sec .input-box.label-box input:checked + label::after {
  content: '';
  position: absolute;
  bottom: 0.78rem;
  left: 0.1rem;
  width: 30%;
  height: 0.2rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #3465ef;
}

.create-event-wrap .create-event-form form .event-sec .input-box.label-box input {
  display: none;
}

.create-event-wrap .create-event-form form .event-sec .input-box.label-box .custom-label {
  position: relative;
  width: 2.55rem;
  height: 2.55rem;
  border: 2px solid #b4b4b5;
  border-radius: 4px;
}

.create-event-wrap .create-event-form form .event-sec .input-box.label-box span {
  margin-left: 1.6rem;
  font-size: 1.5rem;
  line-height: 2.6rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.create-event-wrap .create-event-form form .event-sec .input-box .custom-label {
  color: #454b58;
}

.create-event-wrap .create-event-form form .event-sec .input-box .time-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.create-event-wrap .create-event-form form .event-sec .input-box .time-check:nth-child(2) {
  margin-top: 3rem;
}

.create-event-wrap .create-event-form form .event-sec .input-box #date-picker-inline,
.create-event-wrap .create-event-form form .event-sec .input-box #time-picker {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 6px 0 7px;
  height: auto;
}

.create-event-wrap .create-event-form form .event-sec .input-box .MuiFormControl-root {
  width: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.create-event-wrap .create-event-form form .event-sec .input-box .MuiFormControl-root:nth-child(2) {
  margin-left: 20px;
}

.create-event-wrap .create-event-form form .event-sec .input-box #date-picker-inline-label,
.create-event-wrap .create-event-form form .event-sec .input-box #time-picker-label {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1.5rem;
}

.create-event-wrap .create-event-form form .event-sec .input-box input[type='text'],
.create-event-wrap .create-event-form form .event-sec .input-box input[type='date'],
.create-event-wrap .create-event-form form .event-sec .input-box input[type='time'] {
  outline: none;
  border: 0;
  width: 100%;
  height: 6.5rem;
  border-radius: 10px;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 2.2rem 2.1rem 2.3rem 3.5rem;
}

.create-event-wrap .create-event-form form .event-sec .input-box input[type='text']::-webkit-input-placeholder,
.create-event-wrap .create-event-form form .event-sec .input-box input[type='date']::-webkit-input-placeholder,
.create-event-wrap .create-event-form form .event-sec .input-box input[type='time']::-webkit-input-placeholder {
  color: #a0a0a2;
}

.create-event-wrap .create-event-form form .event-sec .input-box input[type='text']:-ms-input-placeholder,
.create-event-wrap .create-event-form form .event-sec .input-box input[type='date']:-ms-input-placeholder,
.create-event-wrap .create-event-form form .event-sec .input-box input[type='time']:-ms-input-placeholder {
  color: #a0a0a2;
}

.create-event-wrap .create-event-form form .event-sec .input-box input[type='text']::-ms-input-placeholder,
.create-event-wrap .create-event-form form .event-sec .input-box input[type='date']::-ms-input-placeholder,
.create-event-wrap .create-event-form form .event-sec .input-box input[type='time']::-ms-input-placeholder {
  color: #a0a0a2;
}

.create-event-wrap .create-event-form form .event-sec .input-box input[type='text']::placeholder,
.create-event-wrap .create-event-form form .event-sec .input-box input[type='date']::placeholder,
.create-event-wrap .create-event-form form .event-sec .input-box input[type='time']::placeholder {
  color: #a0a0a2;
}

.create-event-wrap .create-event-form form .event-sec .input-box input[type='text'].err,
.create-event-wrap .create-event-form form .event-sec .input-box input[type='date'].err,
.create-event-wrap .create-event-form form .event-sec .input-box input[type='time'].err {
  border: 2px solid #e41818;
}

.create-event-wrap .create-event-form form .event-sec .input-box input[type='text']:nth-child(2) {
  margin-top: 3rem;
}

.create-event-wrap .create-event-form form .event-sec .input-box input[type='date'] {
  width: 39.5rem;
}

.create-event-wrap .create-event-form form .event-sec .input-box input[type='time'] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 30px;
}

@media (min-width: 335px) and (max-width: 757px) {
  .create-event-wrap .w1440-container {
    width: 100%;
  }
  .create-event-wrap .create-event-form {
    padding: 0;
  }
  .create-event-wrap .create-event-form h1 {
    margin-bottom: 0;
  }
  .create-event-wrap .create-event-form form .custom-file-label {
    width: 100%;
  }
  .create-event-wrap .create-event-form form .create-event-submit {
    margin-top: -50px;
    margin-bottom: 25px;
  }
  .create-event-wrap .create-event-form form .event-sec {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .create-event-wrap .create-event-form form .event-sec .event-content {
    width: 100%;
    margin-bottom: 3rem;
  }
  .create-event-wrap .create-event-form form .event-sec .input-box {
    width: 100%;
  }
  .create-event-wrap .create-event-form form .event-sec .input-box .custom-file-label {
    width: 100%;
  }
  .create-event-wrap .create-event-form form .event-sec .input-box .time-check {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .create-event-wrap .create-event-form form .event-sec .input-box .time-check .MuiFormControl-root {
    width: 100%;
  }
  .create-event-wrap .create-event-form form .event-sec .input-box .time-check .MuiFormControl-root:nth-child(2) {
    margin-left: 0;
  }
}

@media (max-width: 1440px) and (min-width: 758px) {
  .create-event-wrap .w1440-container {
    width: 100%;
  }
  .create-event-wrap .create-event-form form .custom-file-label {
    width: 100%;
  }
  .create-event-wrap .create-event-form form .event-sec .event-content {
    width: 45%;
  }
  .create-event-wrap .create-event-form form .event-sec .input-box {
    width: 50%;
  }
}
/*# sourceMappingURL=createevent.css.map */