@import "../style/mixin";
@import "../style/mediaQuery";

.create-event-wrap,
.revise-event-wrap {
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  @include wrapSet;
  width: 100%;
  min-height: 100vh;
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .w1440-container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .te-preview {
    background: #fff;
  }
  .create-event-form,
  .revise-event-form {
    padding: 7.3rem 0;
    .main-title {
      transition: all 0.2s ease-in-out;
      @include titleFontSet(4rem, bold);
      margin-bottom: 4rem;
    }
    iframe {
      width: 100%;
      height: 400px;
      margin-top: 30px;
    }
    form {
      overflow: hidden;
      #time-picker-helper-text,
      #date-picker-inline-helper-text {
        font-size: 1.2rem;
      }
      .tui-popup-body > label,
      .tui-popup-body > input {
        display: none;
      }
      .te-url-type.te-tab-active ~ label,
      .te-url-type.te-tab-active ~ input {
        display: block;
      }
      .drop-down-container {
        outline: none;
      }
      .custom-file-label {
        &.none {
          height: 45.53rem;
          &::before {
            content: "";
            position: absolute;
            width: 3.2rem;
            height: 3.2rem;
            margin: auto;
            background: url("/img/camera.svg") no-repeat;
            background-size: cover;
            background-position: center;
            z-index: 1;
          }
          &::after {
            content: "";
            position: absolute;
            width: 6.5rem;
            height: 6.5rem;
            background: #fff;
            border-radius: 50%;
            z-index: 0;
          }
        }
        outline: none;
        position: relative;
        width: 68rem;
        max-height: 45.53rem;
        height: auto;
        background: #c4c4c4;
        border-radius: 10px;
        @include Flex();
        overflow: hidden;
        .drag-drop {
          position: absolute;
          width: 100%;
          height: 100%;
          background: #fff;
          border: 3px solid #3465ef;
          border-radius: 10px;
          color: #3465ef;
          font-weight: 900 bold;
          text-transform: capitalize;
          @include Flex();
          font-size: 3rem;
          z-index: 15;
        }
        &.active {
          &::before,
          &::after {
            all: unset;
          }
        }
      }
      .custom-file-input {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
      }
      .custom-thumbnail {
        cursor: pointer;
        display: block;
        width: 100%;
        background-position: center;
        background-size: cover;
        z-index: 2;
      }
      .upload-type {
        transition: all 0.2s ease-in-out;
        @include contentFontSet;
        font-size: 1.5rem;
        line-height: 20px;
        margin-top: 1.567rem;
      }
      .eventform-title {
        transition: all 0.2s ease-in-out;
        @include titleFontSet();
        margin-bottom: 2.8rem;
        margin-top: 5.5rem;
      }
      .create-event-submit,
      .revise-event-submit {
        @include Flex();
        button {
          all: unset;
          cursor: pointer;
          box-sizing: border-box;
          margin-top: 10rem;
          width: 18rem;
          height: 6.5rem;
          font-size: 1.5rem;
          font-weight: 600;
          background: rgba(255, 255, 255, 0.05);
          border: 2px solid #3465ef;
          border-radius: 50px;
          display: grid;
          place-items: center;
          color: #3465ef;
          transition: 0.4s;
          &:hover {
            color: #fff;
            background: #3465ef;
          }
        }
      }
      .revise-event-submit {
        button {
          margin: 2.35rem;
          margin-top: 10rem;
          &:first-child {
            border: 2px solid #717174;
            color: #717174;
            &:hover {
              background: #717171;
              color: #fff;
            }
          }
        }
      }
      .event-sec {
        width: 100%;
        @include Flex(space-between, flex-start);
        transition: all 0.2s ease-in-out;
        .event-content {
          width: 50rem;
          margin-bottom: 5.5rem;
          font-size: 1.5rem;
          line-height: 2rem;
          @include contentFontSet;
          transition: all 0.2s ease-in-out;
        }

        .input-box {
          position: relative;
          width: 68rem;
          &.terms {
            width: 100%;
            span {
              width: 100%;
            }
          }
          .err-text {
            position: absolute;
            top: -24px;
            left: 4px;
            color: #e41818;
            font-size: 1.3rem;
          }
          .yes {
            display: none;
          }
          .not {
            display: block;
          }
          &.active {
            .yes {
              display: block;
            }
            .not {
              display: none;
            }
          }
          &.label-box {
            display: flex;
            input:checked + label {
              border-color: #3465ef;
            }
            input:checked + label::before {
              @include Virtual();
              bottom: 0.76rem;
              right: 0.04rem;
              width: 75%;
              height: 0.3rem;
              background: #3465ef;
              transform: rotate(-45deg);
            }
            input:checked + label::after {
              @include Virtual();
              bottom: 0.58rem;
              left: 0.1rem;
              width: 40%;
              height: 0.3rem;
              transform: rotate(45deg);
              background: #3465ef;
            }
            input {
              display: none;
            }
            .custom-label {
              position: relative;
              width: 2.55rem;
              height: 2.55rem;
              border: 3px solid $checkboxColor;
              border-radius: 4px;
            }
            span {
              margin-left: 1.6rem;
              font-size: 1.5rem;
              line-height: 2.6rem;
              user-select: none;
            }
          }
          .custom-label {
            color: $labelColor;
          }
          .time-check {
            @include Flex(space-between, flex-start);
            &:nth-child(2) {
              margin-top: 3rem;
            }
          }
          #date-picker-inline,
          #time-picker {
            transition: all 0.2s ease-in-out;
            padding: 6px 0 7px;
            height: auto;
          }
          .MuiFormControl-root {
            width: 50%;
            transition: all 0.2s ease-in-out;
            &:nth-child(2) {
              margin-left: 20px;
            }
          }
          #date-picker-inline-label,
          #time-picker-label {
            transition: all 0.2s ease-in-out;
            font-size: 1.5rem;
          }
          input[type="text"],
          input[type="date"],
          input[type="time"] {
            outline: none;
            border: 0;
            width: 100%;
            height: 6.5rem;
            border-radius: 10px;
            font-size: 1.5rem;
            line-height: 2rem;
            padding: 2.2rem 2.1rem 2.3rem 3.5rem;
            &::placeholder {
              @include placeholderSet;
            }
            &.err {
              border: 2px solid #e41818;
            }
            &:disabled {
              background: #b4b4b5;
            }
          }
          input[type="text"] {
            &:nth-child(2) {
              margin-top: 3rem;
            }
          }
          input[type="date"] {
            width: 39.5rem;
          }
          input[type="time"] {
            flex: 1;
            margin-left: 30px;
          }
        }
      }
    }
  }
}
@include mobile {
  .create-event-wrap,
  .revise-event-wrap {
    .w1440-container {
      width: 100%;
    }
    .create-event-form,
    .revise-event-form {
      padding: 0;
      .main-title {
        margin-top: 3rem;
        margin-bottom: 0;
      }
      form {
        .custom-file-label {
          width: 100%;
          max-height: 28rem;
        }
        .create-event-submit {
          margin-top: -50px;
          margin-bottom: 25px;
        }
        .event-sec {
          flex-wrap: wrap;
          .event-content {
            width: 100%;
            margin-bottom: 3rem;
          }
          .input-box {
            width: 100%;
            .custom-file-label {
              width: 100%;
            }
            .time-check {
              flex-wrap: wrap;
              .MuiFormControl-root {
                width: 100%;
                &:nth-child(2) {
                  margin-left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1440px) and (min-width: 758px) {
  .create-event-wrap,
  .revise-event-wrap {
    .w1440-container {
      width: 100%;
    }
    .create-event-form,
    .revise-event-form {
      .main-title {
        margin-bottom: 2rem;
      }
      form {
        .custom-file-label {
          width: 100%;
          max-height: 38rem;
        }
        .event-sec {
          .event-content {
            width: 45%;
          }
          .input-box {
            width: 50%;
          }
        }
      }
    }
  }
}
