$radius: 10px;
$primary-color: #25272b;
$secondary-color: #2c3035;
$tertiary-color: #b4b4b5;
$alert-color: #e41818;
$point-color: #3562ff;
$font-primary-color: #454b58;
$font-secondary-color: #717174;
$font-tertiary-color: #a0a0a2;
$dark-font-primary-color: #f2f3f6;
$dark-font-secondary-color: #89898b;
