@import './variables';

body.dark {
  // backgrounds
  .main {
    background-color: #1b1d21;
    transition: all 0.2s ease-in-out;
  }
  .center input {
    background-color: #1b1d21;
  }
  .search-wrap {
    background-color: #1b1d21;
  }
  .cards-wrap {
    .cards {
      .card-wrap {
        background-color: #2c3035;
        .cardContent-wrap {
          .thumbnail-wrap {
            .thumbnail {
              background-color: #2c3035;
            }
          }
          .content-wrap {
            border-bottom: 1px #4b4b4b solid;
            .date {
              color: $dark-font-secondary-color;
            }
            h3,
            p,
            span {
              font-weight: 500;
              color: $dark-font-primary-color;
            }
          }
          .host-wrap .host-name {
            color: $dark-font-primary-color;
            font-weight: 500;
          }
        }
      }

      // modals
      .selectList-wrap ul {
        background-color: #2c3035;
      }

      //btn & icons
      .search-btn {
        color: dimgray;
      }
    }
  }
  .search-wrap {
    input {
      color: $dark-font-primary-color;
    }
  }
  .filter-wrap {
    button {
      color: $dark-font-primary-color;
      .more {
        background-color: #2c3035;
      }
    }
  }
  .create-event-wrap,
  .revise-event-wrap {
    background: #2c3035;
    .create-event-form,
    .revise-event-form {
      h1 {
        color: #ccc;
      }
      form {
        #date-picker-inline-helper-text,
        #time-picker-helper-text {
          color: #fff;
        }
        .eventform-title {
          color: #bebebe;
        }
        .event-sec {
          color: #fff;
          .event-content {
            color: #fff;
          }
        }
        .upload-type {
          color: #fff;
        }
        .time-check {
          label,
          input,
          button {
            color: #fff;
          }
        }
        .create-event-submit,
        .revise-event-submit {
          button {
            color: #fff;
            border-color: #fff;
            background: transparent;
            &:hover {
              color: #000;
              background: #fff;
            }
          }
        }
        .revise-event-submit {
          button {
            &:first-child {
              border: 2px solid #bdbdc4;
              color: #bdbdc4;
              &:hover {
                background: #bdbdc4;
                color: #2c3035;
              }
            }
          }
        }
      }
    }
  }

  .eventInfo-wrap {
    h2 {
      color: $dark-font-primary-color;
    }
    .flex-wrap {
      .left {
        .thumbnail {
          background-color: #1a1d21;
        }
      }
      .right {
        p {
          color: $dark-font-primary-color;
        }
        table {
          tr {
            th {
              color: $dark-font-secondary-color;
            }
            td {
              color: $dark-font-primary-color;
            }
          }
        }
        .button-wrap {
          .favoriteButton-wrap {
            &.act svg {
            }
          }
        }
      }
    }
  }
  .eventContents-wrap {
    .content {
      color: $dark-font-primary-color;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      ul,
      ol,
      li,
      table,
      a,
      span {
        color: #dadbde !important;
      }
    }
    table {
      color: $dark-font-primary-color;
    }
  }
}
