@import '../../../style/variables';
@import '../../../style/mixin';
@import '../../../style/mediaQuery';

.eventContents-wrap {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid $tertiary-color;
  font-size: 1.5rem;
  .content {
    padding: 30px;
    background-color: #f2f3f6;
  }
  .iframe-wrap {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid $tertiary-color;
    iframe {
      width: 100%;
      height: 400px;
      border: 0;
    }
  }
  table {
    color: $font-primary-color;
    font-size: 2.4rem;
    margin-top: 20px;
    th {
      width: 30%;
      min-width: 150px;
      padding-top: 20px;
      padding-left: 30px;
      text-align: left;
      font-weight: 400;
    }
    td {
      padding-top: 20px;
      padding-right: 30px;
    }
  }
}

@include mobile {
  .eventContents-wrap {
    table {
      font-size: 1.8rem;
      th {
        padding-left: 0;
      }
      td {
        padding-right: 0px;
      }
    }
  }
}

@include tablet {
  .eventContents-wrap {
    table {
      font-size: 1.8rem;
      th {
        padding-left: 0;
      }
      td {
        padding-right: 0px;
      }
    }
  }
}
