@import '../../../style/variables';
@import '../../../style/mediaQuery';

.offlineInfo-wrap {
  display: flex;
  flex-flow: wrap;
  h2 {
    font-size: 4rem;
    color: $point-color;
  }
  .left {
    width: 50%;
    .thumbnail {
      width: 100%;
      padding-bottom: 66.66%;
      background-color: wheat;
    }
  }
  .right {
    width: calc(50% - 50px);
    margin-left: 50px;
    font-size: 2.4rem;
    .price {
      font-size: 3rem;
      font-weight: 600;
    }
    table {
      th {
        text-align: left;
      }
      td {
      }
    }
  }
}

@include mobile {
  .offlineInfo-wrap {
    .left {
      width: 100%;
    }
    .right {
      width: 100%;
      margin-left: 0;
    }
  }
}
@include tablet {
  .offlineInfo-wrap {
    .left {
      width: 100%;
    }
    .right {
      width: 100%;
      margin-left: 0;
    }
  }
}
