@import '../../style/mixin';
@import '../../style/variables';
@import '../../style/mediaQuery';

.filter-wrap {
  position: relative;
  z-index: 1;
  max-width: 1440px;
  margin: 50px auto 0;
  padding-left: 30px;
  button {
    background: 0;
    border: 0;
    outline: transparent;
    @include font(3rem, $weight: 700);
    cursor: pointer;
    .more {
      margin-left: 10px;
      padding: 0 6px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
      .arrow {
        font-size: 2rem;
        transition: 0.3s;
      }
      .rotataion {
        transform: rotate(180deg);
      }
    }
  }
  .selectList-wrap {
    ul {
      position: absolute;
      background-color: #2c3035;
      padding: 30px;
      width: 335px;
      margin-top: 20px;
      box-shadow: 0 2px 5px 3px #00000030;
      color: $dark-font-primary-color;
      li {
        cursor: pointer;
        font-size: 2.4rem;
        line-height: 6rem;
        transition: all 0.3s;
        &:hover {
          color: $point-color;
        }
        &.act {
          color: $point-color;
        }
      }
    }
    .hide {
      transform: translateY(30%);
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      transition: 0.5s;
    }
    .show {
      transform: translateY(0%);
      opacity: 1;
      transition: 0.3s;
    }
  }
}

@include mobile {
  .filter-wrap {
    margin-top: 20px;
    button {
      font-size: 2.4rem;
      .more {
        padding-top: 2px;
      }
    }
    .selectList-wrap {
      ul {
        width: calc(100% - 60px);
        // width: 100%;
      }
    }
  }
}
