header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #25272b;
  color: #b4b4b5;
}

button {
  color: #b4b4b5;
  background-color: transparent;
  border: none;
}
