@import '../../style/variables';
@import '../../style/mixin';

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #25272b;
  color: #b4b4b5;
}

button {
  color: #b4b4b5;
  background-color: transparent;
  border: none;
}

.event-button {
  line-height: 20px;
  padding: 5px 20px;
}
.user-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 20px;
  text-align: center;
  color: white;
  background-color: orange;

  display: flex;
  place-content: center;

  div {
    font-size: 1rem;
  }
}
