@import "../../style/mediaQuery";
@import "../../style/variables";
@import "../../style/mixin";

* {
  box-sizing: border-box;
}

@mixin font-title {
  font-size: 3.5rem;
  color: $font-primary-color;
}

// 로그아웃, 회원탈퇴 영역
.logout-section {
  h3 {
    font-size: 3.5rem;
  }
  .logout-btn-div,
  .deact-btn-div {
    transform: translateY(50% - 20%);
    margin-right: 2rem;
  }

  .logout-div ::after {
    border-right: 2px solid $tertiary-color;
  }
}

// 미디어 쿼리
@include mobile {
  .logout-section {
    width: 100%;
    display: block;
    padding-top: 10px;

    .logout-title-div span,
    .deact-title-div span {
      font-size: 1.5rem;
      margin-top: 0;
    }
  }
}

@include tablet {
  .logout-section {
    margin: 0 auto;

    .logout-title-div,
    .deact-title-div {
      margin-top: 20px;
      margin-left: 5px;
    }

    .logout-btn-div,
    .deact-btn-div {
      margin-top: 20px;
    }
  }
}

@include desktop {
  .logout-section {
    width: 1024px;
    margin: 0 auto;

    .logout-title-div,
    .deact-title-div {
      margin-left: 2rem;
    }

    .logout-btn-div,
    .deact-btn-div {
      right: 20px;
    }
  }
}
