@import '../../style/mediaQuery';
@import '../../style/variables';
@import '../../style/mixin';

* {
  box-sizing: border-box;
}

@mixin font-title {
  font-size: 4rem;
  color: $font-primary-color;
}

// 로그아웃, 회원탈퇴 영역
.logout-section {
  .logout-btn-div,
  .deact-btn-div {
    transform: translateY(50% - 20%);
    margin-right: 2rem;
  }
  // @include font-title;
  // border-top: 2px solid #b4b4b5;
  // display: flex;
  // justify-content: center;
  // width: 1380px;
  // height: 100%;

  // .logout-title-div,
  // .deact-title-div {
  //   border: 2px solid red;
  //   padding-top: 2rem;

  //   span {
  //     display: block;
  //     margin-top: 2rem;
  //   }
  // }

  // .profile-btn {
  //   @include text-button;
  // }
}

// 미디어 쿼리
@include mobile {
  .logout-section {
    width: 100%;
    display: grid;
    flex-wrap: wrap;

    .logout-title-div span,
    .deact-title-div span {
      margin-top: 0;
    }

    .logout-div,
    .deact-div {
      display: block;
    }
  }
}

@include tablet {
  .logout-section {
    // width: 660px;
    border: 2px solid blue;
    margin: 0 auto;

    .logout-title-div,
    .deact-title-div {
      border: 2px solid red;
    }

    .logout-btn-div,
    .deact-btn-div {
      margin: 0;
    }
  }
}

@include desktop {
  .logout-section {
    width: 1024px;
    border: 2px solid red;
    margin: 0 auto;

    .logout-title-div,
    .deact-title-div {
      border: 2px solid red;
      margin-left: 2rem;
    }

    .logout-btn-div,
    .deact-btn-div {
      right: 20px;
    }
  }
}
