@import '../../style/variables';
@import '../../style/mixin';
@import '../../style/mediaQuery';

#modal-container {
  background-color: rgba(37, 39, 43, 0.8);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#modal-container * {
  box-sizing: border-box;
}

#modal {
  background: $secondary-color;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  min-width: 550px;
  width: 33vw;
  min-height: 40vh;
  padding: 40px;

  @include tablet {
    width: 55vw;
  }
  @include mobile {
    width: 96vw;
  }
  text-align: center;
  animation: fadeIn 0.2s ease;

  overflow: hidden;
  position: relative;
}

@keyframes fadeIn {
  0% {
    transform: scale(0.96);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.modal-headline {
  @include font-normal;
  padding: 15px;
  font-size: 3rem;
  color: white;
  font-weight: 600;
}
