@import '../../style/mediaQuery';
@import '../../style/variables';
@import '../../style/mixin';

@mixin font-title {
  font-size: 3.5rem;
  color: $font-primary-color;
}

// 기본정보, form영역
.profile-section {
  @include font-title;

  .form-div {
    margin-top: 20px;
    display: flex;
    input[name='email'] {
      cursor: initial;
    }
  }

  .profile-info {
    width: 50%;
  }
  .profile-form {
    margin-top: 80px;
    width: 50%;

    .profile-btn {
      @include text-button;
      margin: 3rem 0 5rem 0;
    }
  }

  label {
    margin-bottom: 10px;
    padding: 10px 0 0 0;
    width: 200px;
    font-size: 2.4rem;
    font-weight: 500;
  }

  input {
    @include font-normal;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
    outline-color: $point-color;
    width: 100%;
    padding: 2rem;
    text-indent: 1.5rem;
    font-size: 1.5rem;
  }
  .thumb-div {
    .custom-thumbnail-input {
      visibility: hidden;
      height: 0;
    }

    .custom-thumbnail-label {
      cursor: pointer;
      border-radius: 150px;
      margin: 0 auto;
      width: 400px;
      @include Flex();
      .profile-thumb {
        -webkit-user-drag: none;
        -moz-user-drag: none;
        user-select: none;
        width: 250px;
        height: 250px;
        border-radius: 150px;
        display: flex;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  .thumb-guide {
    display: block;
    text-align: center;
    margin-top: 30px;
  }
}

// 미디어쿼리
@include mobile {
  .profile-section {
    width: 100%;
    display: grid;

    .profile-info {
      width: 100%;
      .title {
        margin-top: 20px;
      }
    }

    .profile-form {
      margin-top: 37px;
      width: 100%;
      padding-bottom: 20px;
      .form-btn {
        text-align: center;
      }
    }
  }
}

@include tablet {
  .profile-section {
    width: 100%;

    .profile-info {
      .thumb-div {
        width: 100%;
      }
    }

    .profile-form {
      .form-btn {
        div {
          text-align: center;
        }
      }
      input {
        width: 100%;
      }
    }
  }
}
