@import '../../style/mixin';
@import '../../style/variables';
@import '../../style/mediaQuery';

.search-wrap {
  background-color: white;
  .center {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    input {
      @include Flex();
      height: 12rem;
      background-color: transparent;
      width: 100%;
      padding: 30px;
      padding-right: 80px;
      box-sizing: border-box;
      border: 0;
      font-size: 4rem;
      outline: transparent;
    }
    .search-btn {
      position: absolute;
      top: 0;
      right: 0;
      padding: 34px;
      button svg {
        font-size: 3rem;
      }
    }
  }
}

@include mobile {
  .search-wrap {
    .center {
      width: 100%;
      input {
        font-size: 2.4rem;
      }
      .search-btn {
        padding: 31px;
        button svg {
          font-size: 2.4rem;
        }
      }
    }
  }
}

@include tablet {
  .search-wrap {
    .center {
      width: 100%;
    }
  }
}

@include desktop {
  .search-wrap {
    .center {
      width: 100%;
    }
  }
}
