@import '../../../style/variables';
@import '../../../style/mixin';
@import '../../../style/mediaQuery';

.mobile-drawer {
  position: absolute;
  width: 100vw;
  background-color: $secondary-color;
  z-index: 99;
  li {
    @include font-normal;
    color: $dark-font-primary-color;
    padding: 1.2rem 3.2rem;
    .sub-nav-div {
      width: 100%;
      max-width: 100%; //to cancel preset
      :active {
        background-color: none;
      }
    }
  }
}
